.nav {
  padding: 10px 30px;
  display: flex;
  justify-content: start;
  box-shadow: 2px 2px 10px #70ec7038;
}
.styleLink {
  font-size: 36px;
  color: black;
  margin-right: 10px;
  text-decoration: none;
}
